{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titleBlock %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery_3_3_1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block head_extends %}{% endblock %}
</head>
<body>
    {% block nav_block %}{% endblock %}
    {% block content_block %}
    {% endblock %}
    {% block footer_block %}{% endblock %}
    {% block script_extends %}{% endblock %}
</body>
</html>