<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>知码象棋</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="js/jquery_3_3_1.js"></script>
    <script src="js/sha1.js"></script>
    <script src="js/login.js"></script>
</head>
<body>
    <div id="body">
        <form action="https://www.baidu.com">
            <div id="head">
                <span>
                    <div class="login_n" shaddow=false>账号密码登录</div>
                </span>
                <span>
                    <div class="login_e" shaddow=true>游客登录</div>
                </span>
            </div>
            <div id="tipcontent">
                <p id="tips">账号或密码错误</p>
            </div>
            <div id="content">
                <div id="login_n">
                    <input id="account" class="form-control" type="text" placeholder="请输入账号,不包含除_以外的特殊字符"><br>
                    <input id="passwd" class="form-control" type="password" placeholder="请输入密码,以字母开头,不大于16位"><br>
                    <div class="clearf"></div>
                    <span id="check" title="为了确保你的信息安全，不建议在网吧等公共环境勾选此项">
                        <a hasClick=false  href="javascript:void(0);"> </a>
                        <span>是否记住密码</span>
                        <div class="clearf"></div>
                    </span>
                    <div>
                        <input id="login" type="submit" value="登 录"><br>
                        <input id="register" type="submit" value="注 册">
                    </div>
                </div>
                <div id="login_e">
                    <input id="nickN" type="text" placeholder="请输入昵称"><br>
                    <input id="loginNoPass" type="submit" value="登 录">
                </div>
            </div>
            <div id="footer">
                <a href="https://www.baidu.com" target="blank">忘记密码</a>
                <span>|</span>
                <a href="https://www.baidu.com" target="blank">意见反馈</a>
            </div>
        </form>
    </div>
    <div id="r_footer"></div>
    
</body>
</html>