{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titleBlock %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery_3_3_1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block head_extends %}{% endblock %}
    {% block back_img %}{% endblock %}
</head>
<body>
    {% block nav_block %}{% endblock %}
    {% block content_block %}{% endblock %}
    {% block footer_block %}{% endblock %}
    {% block script_extends %}{% endblock %}
    {% block verification_code %}
        <script type="text/javascript">
            $("#send_code").click(function(){
                var email = $("#email_code").val();
                if(email === ""){
                    $("#tip").text('* 邮箱不能为空');
                        return;
                }
                disab = $(this);

                if ($(".disabled").text()){
                    return
                }

                 // 把按钮变灰
                disab.addClass('disabled');
                disab.attr('disabled', true);
                var time = 30;
                disab.text(time + 's');
                var interval = setInterval(() => {
                    if(time <= 0){
                        clearInterval(interval);
                        disab.removeClass('disabled');
                        disab.attr('disabled', false);
                        disab.text('获取验证码');
                        return false;
                    }
                        time --;
                        disab.text(time + 's');
                    }, 1000);

                // 发送验证码
                $.ajax({
                    url: "send_verification_code",
                    type: "GET",
                    data: {'email': email, 'type': $(".panel-title").text()},
                    cache: false,
                    success: function(data){
                        if(data['status']==='SUCCESS'){
                            $("#danger").text("验证码获取成功, 请到邮箱查看");
                            $("#tip").text('');

                        }else if(data['status']==='ERROR1'){
                            $("#danger").text(" * 获取失败, 请检查邮箱或网络");
                        }
                        else if(data['status']==='ERROR2'){
                            $("#tip").text(" * 邮箱错误");
                        }
                    }
            });

        });
</script>
    {% endblock %}
</body>

</html>