{% extends 'base.html' %}
{% load staticfiles %}

{% block titleBlock %}
    知码象棋 | 密码找回
{% endblock %}

{% block back_img %}
    <style>
        body{
            background-repeat: no-repeat;
            background-image: url("/images/pass.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center center;
            /*text-align: center;*/
        }
        .row{
            filter:alpha(Opacity=0.9);
            -moz-opacity: 0.9;
            opacity: 0.9;

        }
    </style>
{% endblock %}

{% block content_block %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">  <!-- xs sm  md lg  bootstrap  :before  :after -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">密码找回</h3>
                    </div>
                    <div class="panel-body">
                        <form method="POST" autocomplete="off">
                            {% csrf_token %}
                            {% for field in forpass %}
                                {% if forloop.counter == 1 %}
                                    {{field.label}}{{ field }}{{field.error_messages}}
                                    <p class="text-danger" id="tip">{{ field.errors.as_text }}</p>
                                {% elif forloop.counter == 2 %}
                                    {{field.label}}
                                    <div class="input-group">
                                        {{ field }}
                                        <p id="send_code" class="input-group-addon" style="cursor:pointer">获取验证码</p>
                                    </div>
                                    <p class="text-danger" id="danger">{{ field.errors.as_text }}</p>
                                {% else %}
                                    {{field.label}}{{ field }}{{field.error_messages}}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endif %}

                            {% endfor %}
                            <span class="text-danger">{{ data.non_field_errors }}</span>
                            <a class="btn btn-primary pull-left" href="/" style="cursor:pointer">返回</a>
                            <input type="submit" id="send" class="btn btn-primary pull-right" style="cursor:pointer" value="提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_extends %}
<script>
    // $("#send").click(function(){
    //         var  code = $("#input_code").val();
    //         if (code===""){
    //             $("#scode").text(" * 验证码不能为空");
    //         }
    //
    //         $.ajax({
    //             url: "send_code",
    //             type: "POST",
    //             data: {'email': email, 'code': code},
    //             cache: false,
    //             success: function(data){
    //                 if(data['status']==='SUCCESS'){
    //                 }else if(data['status']==='ERROR1'){
    //                     $("#scode").text("验证码错误");
    //                 }else if(data['status']==='ERROR2'){
    //                     $("#scode").text("验证码已失效, 请重新获取");
    //                 }
    //             }
    //         });
    //     })
</script>
{% endblock %}